.contenedor {
	max-width: 100%;
	margin: auto;
	border: 1px solid blue;
	overflow: auto;
	font-family: 'Open Sans', sans-serif;
}

header {
	background: #00bd9d;
	padding-bottom: 5%;
}

.primero {
	background: #2b3e4f;
	display: flex;
	justify-content: space-between;
	padding: 5% 5%;
}

h3.nombre {
	font-size: 18px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}

.lista {
	display: flex;
}

.lista a {
	margin-right: 10px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

.imagen {
	margin-top: 15%;
}

.icono {
	text-align: center;
	box-sizing: border-box;
}

.name {
	margin-top: 5%;
	text-align: center;
	color: white;
}

.name h1 {
	margin-bottom: 2%;
	font-size: 48px;
	font-weight: bold;
	text-transform: uppercase;
}

hr {
	margin: 1%;
	width: 6%;
	height: 2px;
	background: white;
}

span {
	font-size: 24px;
}

.estrella {
	display: flex;
	justify-content: center;
	align-items: center;
}

.name h5 {
	font-size: 20px;
	margin-top: 2%;

}

.portfolio {
	padding: 8% 0;
	color: #2b4053;
	text-align: center;
	display: flex;
	flex-direction: column;

}

.portfolio h2 {
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1%;
}

.portfolio hr {
	margin: 1%;
	width: 6%;
	height: 2px;
	background: #2b4053;

}

.solo-mobile {
	display: none;
}

.fotos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.fotos li {
	max-width: 25%;
	margin: 1%;
}

.fotos li img {
	max-width: 100%;
}

.fotos li:first-child, .fotos li:nth-child(2), .fotos li:nth-child(3) {
	order: 1;
}

.fotos li:nth-child(4), .fotos li:nth-child(5), .fotos li:nth-child(6) {
	order: 2;
}

.about {
	text-align: center;
	background: #00bd9d;
	color: white;
	padding: 8% 0;
}

.about h2 {
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1%;
}

.parrafos {
	display: flex;
	justify-content: center;
	padding: 1% 15% 5% 15%;
	text-align: initial;
}

.parrafos p {
	margin: 0 5%;
}

.contact {
	padding: 4% 0;
	color: #2d3b46;
	text-align: center;
}

.contact h2 {
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1%;
}

.contact hr {
	margin-bottom: 3%;
	width: 6%;
	height: 2px;
	background: #2d3b46;
}

.contact span {
	margin-bottom: 2%;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input {
	width: 60%;
	padding: 2% 0;
	border: none;
	border-top: 1px solid grey;
}

.mensaje {
	border: none;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	height: 100px;
    margin-bottom: 1%;
    width: 60%;
}

.boton {
	border: none;
	background: #00bd9d;
	color: white;
	border-radius: 5%;
	width: 10%;
	align-self: flex-start;
    margin-left: 20%;
}

footer {
	background: #2b3e4f;
	color: white;
	fle
}

.claro {
	display: flex;
	justify-content: flex-start;
    padding: 5%;
}

.claro h5 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	padding-bottom: 8%;
}

.location p {
	font-size: 18px;
    padding-bottom: 5%;
}

.social {
	padding-left: 15%;
	width: 35%;
}

.social h5 {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	padding-bottom: 8%;
}

.social ul {
	display: flex;
	justify-content: center;
}

.social ul li {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 1px solid white;
	text-align: center;
	box-sizing: border-box;
	padding-top: 10px;
	margin: 0 2%;
}

.social ul li a {
	text-decoration: none;
	color: white;
}

.oscuro {
	text-align: center;
	background: #213140;
	padding: 2%;
}

@media screen and (max-width:800px) {
	.contenedor {
		max-width: 100%;
	}

	.primero {
		flex-direction: column;
	}
	.name h1 {
		font-size: 24px;
	}

	h3.nombre {
		padding-bottom: 5%;
	}

	.lista {
		width: 40%;
    	justify-content: space-between;
	}

	.fotos {
    	flex-direction: column;
    	align-items: center;
	}

	.fotos li {
    	max-width: 80%;
	}

	.parrafos {
    	flex-direction: column;
    }

    .esconder {
    	display: none;
    }

    .claro {
   	 	align-items: center;
   	 	flex-direction: column;
   	}

   	.social {
    	padding: 5% 2%;
    	width: 100%;
	}

	.location {
		text-align: center;
	}

	.portfolio {
    	position: relative;
	}
	.solo-mobile {
		height: 25px;
		width: 25px;
		border-radius: 50%;
		background: #2b3e4f;
		box-sizing: border-box;
		padding-top: 1%;
		margin: 2% 2% 0 0;
		display: inline-block;
		position: fixed;
    	right: 0;
    	top: 0;
	}

	.solo-mobile a {
		color: white;
	}

	.solo-mobile a span {
		font-size: 14px;
	}
}
	
.hvr-sweep-to-top {
 display: inline-block;
 transform: translateZ(0);
 backface-visibility: hidden;
 transition-property: color;
 transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
 content: "\f2f5";
 font-family: "Ionicons";
 font-size: 50px;
 text-align: center;
 padding-top: 30%;
 position: absolute;
 z-index: 0;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: rgba(89, 185, 158, 0.7);
 transform: scaleY(0);
 transform-origin: 0 100%;
 transition-property: transform;
 transition-duration: 0.3s;
 transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
 color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
 transform: scaleY(1);
}